{% extends 'base.html' %}
{% load filtros %}

{% block title %}
    Hospital - Cadastro de Pacientes
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Cadastro de Paciente</h3>
        </div>

        <div class="card-body">
            <h5>Dados Endereço</h5>
            
            {% if not dados_cep %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form_endereco.cep.errors }}
                    <label for="id_cep">CEP:</label>
                    {{ form_endereco.cep }}
                </div>
                <button type="submit" class="btn btn-primary">Consultar CEP</button>
            </form>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                {% if dados_cep %}
                <div class="form-group">
                    <label for="id_cep">CEP:</label>
                    {{ form_endereco.cep | addvalue:dados_cep.cep }}
                </div>

                <div class="form-group"> 
                    <label for="id_rua">Rua:</label>
                    {{ form_endereco.rua | addvalue:dados_cep.logradouro }}
                </div>

                <div class="form-group">
                    <label for="id_bairro">Bairro:</label>
                    {{ form_endereco.bairro | addvalue:dados_cep.bairro }}
                </div>

                <div class="form-group">
                    <label for="id_cidade">Cidade:</label>
                    {{ form_endereco.cidade | addvalue:dados_cep.localidade }}
                </div>

                <div class="form-group">
                    <label for="id_estado">Estado:</label>
                    {{ form_endereco.estado | addvalue:dados_cep.uf }}
                </div>

                <div class="form-group">
                    <label for="id_numero">Numero:</label>
                    {{ form_endereco.numero }}
                </div>
                
                <div class="form-group">
                    <label for="id_complemento">Complemento:</label>
                    {{ form_endereco.complemento }}
                </div>

                {% endif %}

                <hr>

                <h5>Dados Paciente</h5>

                <div class="form-group">
                    <label for="id_nome">Nome:</label>
                    {{ form_paciente.nome }}
                </div>

                <div  class="form-group">
                    <label for="id_cpf">CPF:</label>
                    {{ form_paciente.cpf }}
                </div>

                <div  class="form-group">
                    <label for="id_data_nascimento">Data de Nascimento:</label>
                    {{ form_paciente.data_nascimento }}
                </div>

                <div  class="form-group">
                    <label for="id_email">E-mail:</label>
                    {{ form_paciente.email }}
                </div>

                <div  class="form-group">
                    <label for="id_telefone">Telefone:</label>
                    {{ form_paciente.telefone }}
                </div>

                <div  class="form-group">
                    <label for="id_profissao">Profissao:</label>
                    {{ form_paciente.profissao }}
                </div>
            {% if dados_cep %}
                <button type="submit" class="btn btn-primary">Enviar Dados</button>
            {% endif %}
            </form>
        </div>
    </div>
{% endblock content %}