{% extends 'base.html' %}
{% load filtros %}

{% block title %}
    Hospital - Lista de Pacientes
{% endblock title %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Lista de Pacientes</h3>
        </div>
        
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Data de Nascimento</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
                {% for paciente in pacientes %}
                    <tr>
                        <td><a href="{% url 'lista_paciente_id' paciente.id %}">{{ paciente.id }}</a></td>
                        <td>{{ paciente.nome | title }}</td>
                        <td>{{ paciente.cpf | formatcpf }}</td>
                        <td>{{ paciente.data_nascimento | date:'d/m/Y' }}</td>
                        <td>{{ paciente.email }}</td>
                        <td>{{ paciente.telefone | formatphone }}</td>
                        <td>
                            <a href="{% url 'editar_paciente' paciente.id %}"><button class="btn btn-primary">Editar</button></a>
                            <a href="{% url 'remover_paciente' paciente.id %}"><button class="btn btn-danger">Remover</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <a href="{% url 'cadastrar_paciente' %}"><button class="btn btn-primary">Cadastrar Paciente</button></a>

{% endblock content %}
